body {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}

div.pokedex-red {
    background-color: #FA6555;
}

div.pokedex-blue {
    background-color: #23B0FF;
}

div.pokedex {
    border-radius: 30px;
    padding-top: 30px;
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    
    background-image: url('../img/pokeball.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
}


.search-input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}

.search-btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.pokedex-outer {
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.19);
    background-color: #fff;
  
}

.pokemon-card {
    background-color: #2CDAB1;
    min-height: 100px;
    border-radius: 30px;
    position: relative;
    background-image: url('../img/card-overlay.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon-name, .pokemon-pts {
    color: white;
}

.pokemon-pts, .header-subtitle {
    background-color: rgba(0,0,0,0.19);
    border-radius: 20px;
}

.header-subtitle {
    padding-top: 5px;
    padding-bottom: 5px;
}


.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.trade-history-row {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19);
    border-radius: 30px;
    background-color: white;
}

.trade-player-items {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19);
    border-radius: 30px;
}

.trade-icon {
    width: 4rem;
}

.poketrader-header {
    background-color: #2CDAB1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
}

.player-name {
    cursor: pointer !important;
}

.link-header {
    background-color: rgba(0,0,0,0.19);
    border-radius: 20px;
    margin-right: 0.3em;
    margin-left: 0.3em;
    color: #fff !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.bottom-nav-pokedex {
    overflow: hidden;
    background-color: #2CDAB1;
    position: sticky;
    bottom: 0;
    width: 100%;
  }


  @media (min-width:1025px) { 
    .poketrader-header {
        background-image: url('../img/header-overlay.png') !important;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .search-wrapper {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
  }


